{%extends 'base.html'%}
<!-- extended -->
{%load static%}
<!-- static file loaded -->
{%block main_content%}
<!--  -->
<style>
    .themed-background {
        background-color: white;
    }
    
    .widget-content-light strong {
        color: black;
    }
</style>
<div class="block full">
    <!-- eShop Overview Title -->
    <div class="block-title">
        <h2><strong>Visual</strong> Overview</h2>
    </div>
    <!-- END eShop Overview Title -->

    <!-- eShop Overview Content -->
    <div class="row">
        <div class="col-md-6">
            <!-- Large Widget (Active Color Theme Light) -->
            <div class="widget">
                <div class="widget-advanced widget-advanced-alt">
                    <!-- Widget Header -->
                    <div class="widget-header text-center themed-background">
                        <h3 class="widget-content-light text-left pull-left animation-pullDown">
                            <strong>{{energy_comp_temp_title}}</strong><br>
                            <small>2013</small>
                        </h3>
                        <!-- Flot Charts (initialized in js/pages/widgetsStats.js), for more examples you can check out http://www.flotcharts.org/ -->
                        <div id="chart-widget1" class="chart" style="padding: 0px; position: relative;">
                            <img src="data:image/png;base64, {{energy_comp_temp|safe}}" alt="" style="height: 283px;width: 778px;">
                        </div>
                    </div>
                    <!-- END Widget Header -->

                    <!-- Widget Main -->
                    <div class="widget-main">
                        <div class="row text-center">
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{max_energy}}</strong><br><small>Highest Energy</small></h3>
                            </div>
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{max_temperature}} deg</strong><br><small>Highest Temperature</small></h3>
                            </div>
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{date_first}}</strong><br><small>Date</small></h3>
                            </div>
                        </div>
                    </div>
                    <!-- END Widget Main -->
                </div>
            </div>
            <!-- END Large Widget (Active Color Theme Light) -->
        </div>
        <div class="col-md-6">
            <!-- Large Widget (Active Color Theme Light) -->
            <div class="widget">
                <div class="widget-advanced widget-advanced-alt">
                    <!-- Widget Header -->
                    <div class="widget-header text-center themed-background">
                        <h3 class="widget-content-light text-left pull-left animation-pullDown">
                            <strong>{{energy_comp_humidity_title}}</strong><br>
                            <small>2013</small>
                        </h3>
                        <!-- Flot Charts (initialized in js/pages/widgetsStats.js), for more examples you can check out http://www.flotcharts.org/ -->
                        <div id="chart-widget1" class="chart" style="padding: 0px; position: relative;">
                            <img src="data:image/png;base64, {{energy_humidity|safe}}" alt="" style="height: 283px;width: 778px;">
                        </div>
                    </div>
                    <!-- END Widget Header -->

                    <!-- Widget Main -->
                    <div class="widget-main">
                        <div class="row text-center">
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{max_energy}}</strong><br><small>Highest Energy</small></h3>
                            </div>
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{max_temperature}} deg</strong><br><small>Highest Temperature</small></h3>
                            </div>
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{date_first}}</strong><br><small>Date</small></h3>
                            </div>
                        </div>
                    </div>
                    <!-- END Widget Main -->
                </div>
            </div>
            <!-- END Large Widget (Active Color Theme Light) -->
        </div>
        <div class="col-md-6">
            <!-- Large Widget (Active Color Theme Light) -->
            <div class="widget">
                <div class="widget-advanced widget-advanced-alt">
                    <!-- Widget Header -->
                    <div class="widget-header text-center themed-background">
                        <h3 class="widget-content-light text-left pull-left animation-pullDown">
                            <strong>{{energy_comp_cloud_title}}</strong><br>
                            <small>2013</small>
                        </h3>
                        <!-- Flot Charts (initialized in js/pages/widgetsStats.js), for more examples you can check out http://www.flotcharts.org/ -->
                        <div id="chart-widget1" class="chart" style="padding: 0px; position: relative;">
                            <img src="data:image/png;base64, {{energy_cloud|safe}}" alt="" style="height: 283px;width: 778px;">
                        </div>
                    </div>
                    <!-- END Widget Header -->

                    <!-- Widget Main -->
                    <div class="widget-main">
                        <div class="row text-center">
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{max_energy}}</strong><br><small>Highest Energy</small></h3>
                            </div>
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{max_temperature}} deg</strong><br><small>Highest Temperature</small></h3>
                            </div>
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{date_first}}</strong><br><small>Date</small></h3>
                            </div>
                        </div>
                    </div>
                    <!-- END Widget Main -->
                </div>
            </div>
            <!-- END Large Widget (Active Color Theme Light) -->
        </div>
        <div class="col-md-6">
            <!-- Large Widget (Active Color Theme Light) -->
            <div class="widget">
                <div class="widget-advanced widget-advanced-alt">
                    <!-- Widget Header -->
                    <div class="widget-header text-center themed-background">
                        <h3 class="widget-content-light text-left pull-left animation-pullDown">
                            <strong>{{energy_comp_and_visibility_title}}</strong><br>
                            <small>2013</small>
                        </h3>
                        <!-- Flot Charts (initialized in js/pages/widgetsStats.js), for more examples you can check out http://www.flotcharts.org/ -->
                        <div id="chart-widget1" class="chart" style="padding: 0px; position: relative;">
                            <img src="data:image/png;base64, {{energy_visibility|safe}}" alt="" style="height: 283px;width: 778px;">
                        </div>
                    </div>
                    <!-- END Widget Header -->

                    <!-- Widget Main -->
                    <div class="widget-main">
                        <div class="row text-center">
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{max_energy}}</strong><br><small>Highest Energy</small></h3>
                            </div>
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{max_temperature}} deg</strong><br><small>Highest Temperature</small></h3>
                            </div>
                            <div class="col-xs-4">
                                <h3 class="animation-hatch"><strong>{{date_first}}</strong><br><small>Date</small></h3>
                            </div>
                        </div>
                    </div>
                    <!-- END Widget Main -->
                </div>
            </div>
            <!-- END Large Widget (Active Color Theme Light) -->
        </div>
    </div>
    <!-- END eShop Overview Content -->
</div>
<!-- END eShop Overview Block -->

<!-- Orders and Products -->
<!-- END Orders and Products -->
<!--  -->
{%endblock main_content%}